<header>
    <nav class="navbar  is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>Node-EJS</strong>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">Inicio</a>
                <a class="navbar-item" href="/contacto">Contacto</a>
            </div>
        </div>
               
    </nav>
</header>
