<section class="section">
    <div class="container has-text-centered">
        <h1 class="title has-text-success">Mensaje Enviado!</h1>
        <p>Gracias por ponerte en contacto. Te responderemos pronto</p>
        <a href="/">Volver a inicio</a>
    </div>    
</section>